/* simplified style that makes the image look exactly like on the snow-forecast website,
this one you can play with a lot more to get the exact look you want as it's relatively
simple css to just change colours etc. in the header and the logos section 

////////////////////////    HEADER    ///////////////////////////////////////////*/

:root {
  --snow-forecast-column-scale: 1.0;
  --snow-forecast-row-scale: 1.2;
  --snow-forecast-text-scale: 1.5;
  --snow-forecast-rain-fill: rgba(51, 132.6, 255, 0.7);
  --snow-forecast-snow-fill: rgba(212,17,33, 0.7);
  --snow-forecast-data-row-height: 20px;
  --snow-forecast-night-filter: hue-rotate(65deg);
  --snow-forecast-snow-filter: saturate(5);
  --snow-forecast-elevation-text-size: 10px;
}

/*////////////////////// End of header /////////////////////////////////////////*/

.forecast-table {
  --line-height: calc(18px * var(--snow-forecast-column-scale));
  --cell-width: calc(38px * var(--snow-forecast-row-scale));
  --cell-height: calc(var(--line-height) * 2);
  --border-color: var(--fc-color-gray-500);
  --day-odd-color: var(--fc-color-gray-200);
  --day-past-color: var(--fc-color-gray-500);
  --day-hover-color: var(--fc-color-tertiary);
  --summary-font-size: calc(13px * var(--snow-forecast-text-scale));
  --summary-line-height: var(--line-height);
  --summary-padding: 4px;
  --summary-lines: 4;
  --summary-title-color: #212121;
  --summary-title-font-weight: bold;
  --summary-title-margin: 2px;
  --summary-height: calc(var(--summary-line-height) + var(--summary-title-margin) + var(--summary-line-height) * var(--summary-lines) + var(--summary-padding) * 2);
  position: relative;
  display: flex;
  max-width:min-content;
  margin: 0 auto;
  overflow: hidden;
  line-height: var(--line-height);
  justify-content: center;
  text-align: center;
}
.forecast-table__content {
  font-size: calc(14px * var(--snow-forecast-text-scale));
}
.forecast-table__cell:has(.forecast-table__container--border), .forecast-table__header {
  border-right: calc(1px * var(--snow-forecast-row-scale)) solid #888;
}
.forecast-table__cell {
  .forecast-table__row:is(
    [data-row="snow"],
    [data-row="rain"],
    [data-row="temperature-max"],
    [data-row="temperature-min"],
   ) & {
    height: calc(var(--snow-forecast-data-row-height) * var(--snow-forecast-column-scale));
  }
  
  .forecast-table__row[data-row="phrases"] & { 
    font-size: calc(12px * var(--snow-forecast-text-scale));
  }
}
.forecast-table__header-container--column {
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  a {
    display: none;
  }
}
.forecast-table__row[data-row="maps"] .forecast-table__container {
  height: 114px !important;
  justify-content: center;
}
/*/////////////  Elevation switcher  ///////////////////////////////////////*/
.forecast-table-elevation-switcher__label {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 800;
  font-size: calc(var(--snow-forecast-elevation-text-size) * var(--snow-forecast-text-scale));
}
.forecast-table-elevation-switcher__elevation-icon {
  width: calc(2.125rem * var(--snow-forecast-row-scale));
  height: calc(2.125rem * var(--snow-forecast-row-scale));
  margin: calc(-0.35rem * var(--snow-forecast-column-scale)) 0 0.375rem;
  color: #888;
}
.forecast-table-elevation-switcher__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 0.25rem;
}
.forecast-table-elevation-switcher__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: calc(45px * var(--snow-forecast-row-scale));
  padding: 0.1rem 0.1rem;
  font-size: calc(var(--snow-forecast-elevation-text-size) * var(--snow-forecast-text-scale));
  font-weight: 500;
  line-height: calc(0.7 * var(--snow-forecast-row-scale));
  color: #222;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 3rem;
}
.forecast-table-elevation-switcher__item {
  width: calc(45px * var(--snow-forecast-row-scale));
  }
.forecast-table-elevation-switcher__link:focus,
.forecast-table-elevation-switcher__link:hover {
  color: #222;
  background-color: #f0f0f0;
}
.forecast-table-elevation-switcher__link--active {
  color: #fff;
  background-color: #d41121;
  border-color: #d41121;
}
.forecast-table-elevation-switcher__link--active:focus,
.forecast-table-elevation-switcher__link--active:hover {
  color: #fff;
  background-color: #d41121;
}
.forecast-table__header-container--elevation {
  position: relative;
  overflow: visible;
  z-index: 10;
  width: max(calc(43px * var(--snow-forecast-text-scale)), calc(60px * var(--snow-forecast-row-scale)));
}
.forecast-table-elevation-switcher {
  position: absolute;
  top: calc(-35px * var(--snow-forecast-column-scale));
  left: 0;
  z-index: 10;
}

/*///////////////////////////////////////////////////////////////////////////////*/
.weather-icon {
  width: calc(38px * var(--snow-forecast-row-scale));
  height: calc(38px * var(--snow-forecast-column-scale));
  object-fit: contain;
}
.icon-rain:before {
  content: "💧";
}
.wind-icon {
  position: relative;
  display: inline-block;
  width: calc(38px * var(--snow-forecast-row-scale));
  font-family:
    Lato,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.5px;
  cursor: pointer;
}
.wind-icon--gust {
  opacity: 0.5;
  transform: scale(0.9);
}
.wind-icon__svg {
  width: 100%;
  height: 100%;
  fill: #888;
}
.wind-icon__tooltip {
  display: none;
  }

/*////////     opacity fill rain    //////////  insert or remove asterisk here to enable or disable rain box fill>>>  */
.forecast-table__container--rain {
  position: relative;
  overflow: hidden;
}

.rain-amount {
  position: relative;
  width: 100%;
  height: 100%;
}

.rain-amount__fill {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--snow-forecast-rain-fill);
  z-index: 0;
}

.rain-amount__value {
  position: relative;
  z-index: 1;
}
.forecast-table__row[data-row="rain"] .forecast-table__container--rain,
.forecast-table__row[data-row="rain"] .rain-amount {
  height: 100%;
}

.forecast-table__row[data-row="rain"] .rain-amount {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*//////////    opacity fill snow    //////////  insert or remove asterisk here to enable or disable snow box fill>>>  */
.forecast-table__container--snow {
  position: relative;
  overflow: hidden;
}

.snow-amount {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: calc(0.75rem * var(--snow-forecast-text-scale));
}

.snow-amount__fill {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--snow-forecast-snow-fill);
  z-index: 0;
}

.snow-amount__value {
  position: relative;
  z-index: 1;
}
.forecast-table__row[data-row="snow"] .forecast-table__container--snow,
.forecast-table__row[data-row="snow"] .snow-amount {
  height: 100%;
}

.forecast-table__row[data-row="snow"] .snow-amount {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*///////    temperature min/max shading    //////  insert or remove asterisk here to enable or disable temperature colours>>>  */

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--1),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--1),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--1) {
  background-color: rgba(82, 0, 82, 1);
  fill: rgba(82, 0, 82, 1);
  color: #fff;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--2),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--2),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--2) {
  background-color: rgba(122, 0, 122, 1);
  fill: rgba(122, 0, 122, 1);
  color: #fff;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--3),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--3),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--3) {
  background-color: rgba(128, 0, 128, 1);
  fill: rgba(128, 0, 128, 1);
  color: #fff;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--4),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--4),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--4) {
  background-color: rgba(184, 0, 184, 1);
  fill: rgba(184, 0, 184, 1);
  color: #fff;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--5),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--5),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--5) {
  background-color: rgba(255, 0, 255, 1);
  fill: rgba(255, 0, 255, 1);
  color: #fff;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--6),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--6),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--6) {
  background-color: rgba(128, 0, 255, 1);
  fill: rgba(128, 0, 255, 1);
  color: #fff;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--7),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--7),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--7) {
  background-color: rgba(0, 0, 255, 1);
  fill: rgba(0, 0, 255, 1);
  color: #fff;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--8),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--8),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--8) {
  background-color: rgba(0, 127, 255, 1);
  fill: rgba(0, 127, 255, 1);
  color: #fff;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--9),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--9),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--9) {
  background-color: rgba(0, 255, 255, 1);
  fill: rgba(0, 255, 255, 1);
  color: #000;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--10),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--10),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--10) {
  background-color: rgba(0, 255, 127, 1);
  fill: rgba(0, 255, 127, 1);
  color: #000;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--11),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--11),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--11) {
  background-color: rgba(127, 255, 0, 1);
  fill: rgba(127, 255, 0, 1);
  color: #000;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--12),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--12),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--12) {
  background-color: rgba(255, 255, 0, 1);
  fill: rgba(255, 255, 0, 1);
  color: #000;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--13),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--13),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--13) {
  background-color: rgba(255, 190, 0, 1);
  fill: rgba(255, 190, 0, 1);
  color: #000;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--14),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--14),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--14) {
  background-color: rgba(255, 127, 0, 1);
  fill: rgba(255, 127, 0, 1);
  color: #000;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--15),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--15),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--15) {
  background-color: rgba(224, 112, 0, 1);
  fill: rgba(224, 112, 0, 1);
  color: #fff;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--16),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--16),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--16) {
  background-color: rgba(245, 0, 0, 1);
  fill: rgba(245, 0, 0, 1);
  color: #fff;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--17),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--17),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--17) {
  background-color: rgba(204, 0, 0, 1);
  fill: rgba(204, 0, 0, 1);
  color: #fff;
}

.forecast-table__row[data-row="temperature-max"] .forecast-table__cell:has(.temp-value--cold.temp-value--18),
.forecast-table__row[data-row="temperature-chill"] .forecast-table__cell:has(.temp-value--cold.temp-value--18),
.forecast-table__row[data-row="temperature-min"] .forecast-table__cell:has(.temp-value--cold.temp-value--18) {
  background-color: rgba(143, 0, 0, 1);
  fill: rgba(143, 0, 0, 1);
  color: #fff;
}

/*//////////////////////// ICONS   ///////////////change links below to change icons////////////*/
/* Clear - day */
.weather-icon[alt="clear"] {
  content: url("icons/windows-11-color/icons8-sun-100.png");
  /* Clear - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-moon-100.png");
  }
}
/* Part cloud - day */
.weather-icon[alt="part cloud"] {
  content: url("icons/windows-11-color/icons8-partly-cloudy-day-100.png");
  /* Part cloud - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-night-100.png");
  }
}
/* Cloud */
.weather-icon[alt="cloud"] {
  content: url("icons/windows-11-color/icons8-clouds-100.png");
  /* Cloud - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-clouds-100.png");
    filter: invert(52%) sepia(16%) saturate(2057%) hue-rotate(198deg) brightness(87%) contrast(91%);
  }
}
/* Rain Showers */
.weather-icon[alt="rain showers"] {
  content: url("icons/windows-11-color/icons8-showers-sun-100.png");
  /* Showers - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-rainy-night-100.png");
  }
}
/* light rain */
.weather-icon[alt="light rain"] {
  content: url("icons/windows-11-color/icons8-rain-cloud-100.png");
  /* light rain - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-rain-cloud-100.png");
    filter: var(--snow-forecast-night-filter);
  }
}
/* Moderate rain */
.weather-icon[alt="mod rain"] {
  content: url("icons/windows-11-color/icons8-moderate-rain-100.png");
  /* mod rain - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-moderate-rain-100.png");
    filter: var(--snow-forecast-night-filter);
  }
}
/* Heavy rain */
.weather-icon[alt="heavy rain"] {
  content: url("icons/windows-11-color/icons8-heavy-rain-100.png");
  /* heavy rain - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-heavy-rain-100.png");
    filter: var(--snow-forecast-night-filter);
  }
}
/* Thunderstorm */
.weather-icon[alt="thunderstorm "] {
  content: url("icons/windows-11-color/icons8-storm-100.png");
  /* Thunderstorm - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-stormy-night-100.png");
  }
}
/* Light snow */
.weather-icon[alt="light snow"] {
  content: url("icons/windows-11-color/icons8-light-snow-100.png");
  filter: var(--snow-forecast-snow-filter);
  /* light snow - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-light-snow-100.png");
    filter: var(--snow-forecast-night-filter) var(--snow-forecast-snow-filter);
  }
}
/* Moderate snow */
.weather-icon[alt="mod snow"] {
  content: url("icons/windows-11-color/icons8-snow-100.png");
  filter: var(--snow-forecast-snow-filter);
  /* moderate snow - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-snow-100.png");
    filter: var(--snow-forecast-night-filter) var(--snow-forecast-snow-filter);
  }
}
/* Heavy snow */
.weather-icon[alt="heavy snow"] {
  content: url("icons/windows-11-color/icons8-snow-storm-100.png");
  filter: var(--snow-forecast-snow-filter);
  /* heavy snow - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-snow-storm-100.png");
    filter: var(--snow-forecast-night-filter) var(--snow-forecast-snow-filter);
  }
}
/* Snow showers */
.weather-icon[alt="snow showers"] {
  content: url("icons/windows-11-color/icons8-snowy-sunny-day-100.png");
  filter: var(--snow-forecast-snow-filter);
  /* snow showers - night */
  .forecast-table__container--border & {
    content: url("icons/windows-11-color/icons8-snowy-sunny-day-100.png");
    filter: var(--snow-forecast-night-filter) var(--snow-forecast-snow-filter);
  }
}
/*///////////////////// Rotating the table /////////////////////////////////////////////////*/

/* Rotate the entire table */
.forecast-table__table {
  transform: rotate(90deg);
  transform-origin: top left;
  position: relative;
  left: 100%;
}

/* Rotate normal cell contents back */
.forecast-table__table tr[data-row]:not([data-row="days"]):not([data-row="phrases"]):not([data-row="time"]):not([data-row="freezing-graph"])
.forecast-table__cell > *:not(.forecast-table__container--snow):not(.forecast-table__container--rain),
.forecast-table__table .snow-amount__value,
.forecast-table__table .rain-amount__value,
.forecast-table-elevation-switcher__label,
.forecast-table-elevation-switcher__list {
  transform: rotate(-90deg);
}


/* Keep days row rotated */
.forecast-table__table tr[data-row="days"] .forecast-table__cell > * {
  transform: none;
  justify-content: center;
}

/* Prevent clipping */
.MMM-SnowForecast,
.MMM-SnowForecast .forecast-table,
.MMM-SnowForecast .forecast-table__content {
  overflow: visible !important;
}

